.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: greenyellow;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    background: lightgrey
}

main {
    grid-column-start: 1;
    grid-column-end: 4;
    background: lightblue;
}

aside {
    grid-column-start: 4;
    grid-column-end: 5;
    background: coral;
}

footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    background: wheat;
}